body {
    padding: 0%;
    margin: 0%;

}

nav {
    background: purple;
    text-align: center;
}

h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2%;
}

.b-table {
    text-align: center;
}