*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
}
header nav{
    background: #e13d3d;
   display: flex;
   padding: 10px 0;
}
header nav .logo{
    color: #fefefe;
    flex-basis: 20%;
}
header nav .menu{
    flex-basis: 70%;
    text-align: right;
    overflow: hidden;
}
header nav .menu ul{
    display: flex;
    float: right;
    list-style: none;
}
header nav .menu ul li a{
    text-decoration: none;
    color: white;
    justify-content: center;
    padding: 0px 20px;
}